@charset "UTF-8";

* { margin: 0; padding: 0; border: 0;}

.cen {text-align: center; align-content: center;}

.right{text-align: right;}

.bodycon { width: 100%; height: 100%; background-color: lightgray; position: absolute; z-index: 0;}

.subject {margin: 15px auto;}

.content { width: 60%; height: 80%; position: absolute; left: 20%; top: 10%; background-color: MintCream;
			border-radius: 10%; }

/* 네비바 */
.nav-button {width: 70px; height: 30px; border-radius: 10%; border: 1px solid black; margin-right: 20px; 
			background-color: powderblue; cursor: pointer;}

.nav-button:hover { border-width: 3px; }

.now { border-width: 2px;}